<template name="home">

  <div class="container">

    <div class="logo">
      <span class ="character"></span>
      <span class ="character"></span>
      <span class ="character"></span>
    </div>

    <div class="options_container">

      <div class="options">

        <button>PIKWON</button>

      </div>
    </div>
    <span class="new">
      POSTED BY:
    </span>
    <div class="options_container">

      <div class="options">

        <button>DON'T PIKWON</button>

      </div>
    </div>

    <div class="logo">
      <span class ="character"></span>
      <span class ="character"></span>
      <span class ="character"></span>
    </div>

  </div>

</template>
