<template name="signup">

{{#if currentUser}}

<div class="container profile">

  <h1 class="header">WELL HELLO, {{currentUser.name}}!</h1>

</div>

  {{else}}

<div class="container profile">

  <h1 class="header">SIGN-UP</h1>

  <form class="signup">
    <input type="text" name="fname" placeholder="FIRST NAME" required><br>
    <input type="text" name="lname" placeholder="LAST NAME" required><br>
    <input type="email" name="email" placeholder="EMAIL" required><br>
    <input type="text" name="username" placeholder="USERNAME" required><br>
    <input type="password" name="password" placeholder="PASSWORD" required><br>
    <br>
    <button>GET PIK'IN</button>
  </form><br>

  <a href="/">BACK</a>

</div>

{{/if}}

</template>
